


body {
    margin-top: 70px;
    background-image: url("retina_wood/backgroundimage.png");

}


h2 {
  text-align: center;

}


p {
margin-top: 150px;
text-align: center;

}

m {
  display:  inline;

}

h3 {
text-align:  center;

}

li
{
margin-top: 700px;
display:  inline;
list-style-type: none;
margin-right: 100px;
margin-left:  100px;

}
