


body {

    background-image: url("retina_wood/backgroundimage.png");

}


h2 {
  text-align: center;

}


p {
margin-top: 150px;
text-align: center;

}

m {
  display:  inline;

}

h3 {
text-align:  center;

}
